extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Add a Patient

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='patient') Patient Name
      .col-md-8
        input.form-control(type='text', name='patient', id='patient')
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='name') Medication Name
      .col-md-8
        input.form-control(type='text', name='name', id='name')
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='dose') Medication Dose (mg)
      .col-md-2
        input.form-control(type='number', name='dose', id='dose')
      label(class='col-md-2 col-form-label font-weight-bold', for='time') Medication Interval (hr)
      .col-md-4
        input.form-control(type='number', name='time', id='time')
    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          i.far.fa-envelope.fa-sm
          | Send
