extends layout

block content
  h1 Pill Revolver
  p.lead A device that simplifies the medicine-taking routine.
  hr
  .row
    .col-md-6
      h2 Automated
      p Don't worry about sorting and dividing pills. Just dump them into a compartment and let the software sort them.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Portable
      p We kept the design small, lightweight, and portable so that you can take your pills with you, without leaving anything at home.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Affordable
      p Current solutions on the market cost thousands of dollars. Ours was made to be as affordable as possibly, only costing $300. There are Yu-Gi-Oh! decks more expensive than that.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Freeing
      p Take control of your medication regiment, not the other way around...
      p
        a.btn.btn-raised(href='#', role='button') View details »
